@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="intro">
        <h1>Welcome to Books Rental App</h1>
        <p>Collect and rent books with ease!</p>
    </section>
    <section class="features">
        <h2>Features</h2>
        <ul>
            <li>Book Collection: Add, view, and manage a collection of books.</li>
            <li>Rental Offers: Create and manage rental offers for books.</li>
            <li>User Authentication: Secure login and registration using ASP.NET Identity.</li>
            <li>Data Management: Efficient data handling using Entity Framework.</li>
        </ul>
    </section>
 

    <section class="status">
        <h2>Project Status</h2>
        <p>This project is in the initial stages of development. Expect significant changes as features and functionality are being implemented and refined. During this phase, you may encounter incomplete features, bugs, and a general lack of polish.</p>
    </section>
</div>
