@model IEnumerable<BookSiteProject.Application.Dtos.CategoryDto>
@using BookSiteProject.Application.Commands.CategoryCommands.DeleteCategory
@using BookSiteProject.Application.Commands.CategoryCommands.CreateCategory
@using BookSiteProject.Application.Commands.CategoryCommands.ChangeStatusOfCategory
@using BookSiteProject.Application.Commands.CategoryCommands.EditCategory

@{
    ViewData["Title"] = "Categories";

}
<script>

    var isAdmin = @User.IsInRole("Admin").ToString().ToLower();
</script>
<h1>Categories</h1>

        <partial name="_CreateCategory" model="new CreateCategoryCommand() {}" />
        <partial name="_ConfirmDeleteCategory" model="new DeleteCategoryCommand() {}" />
        <partial name="_ConfirmStatusChange" model="new ChangeStatusOfCategoryCommand() {}" />
        <partial name="_EditCategory" model="new EditCategoryCommand() {}" />
        <div id="categories">


        </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Category/Delete.js"> </script>
    <script src="~/js/Category/Create.js"> </script>
    <script src="~/js/Category/ChangeStatus.js"> </script>
    <script src="~/js/Category/Edit.js"> </script>
}