@using BookSiteProject.Application.Commands.BookOfferCommands.CreateBookOffer
@model BookSiteProject.Application.Commands.BookCommands.CreateBook.EditBookCommand

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditBookCommand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Edit" >*@
        <form action="/Book/@Model.EncodedName/Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfPublication" class="control-label"></label>
                <input asp-for="YearOfPublication" class="form-control" />
                <span asp-validation-for="YearOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="typeOfBookOwnership">Type of Book Ownership:</label>
                <select asp-for="typeOfBookOwnership">
                    <option value="0">Bought</option>
                    <option value="1">Borrowed</option>
                </select>

            </div>*@
            <div class="form-group">
                <label asp-for="CategoryId">Category:</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                    <option value="">Select a category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AuthorsIds">Authors:</label>
                <select asp-for="AuthorsIds" class="form-control" asp-items="ViewBag.Authors" multiple>
                </select>
                <span asp-validation-for="AuthorsIds" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
               
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <label>Current Image:</label>
                    <img src="@Model.ImagePath" alt="Current Image" class="img-thumbnail mb-2" style="max-width: 200px;" />
                }
                <label asp-for="BookImage">Book Image (optional)</label>
                <input type="file" class="form-control" asp-for="BookImage" />
                <span asp-validation-for="BookImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <partial name="_CreateBookOffer" model="new CreateBookOfferCommand() {BookEncodedName = Model.EncodedName} " />
    <a asp-action="Index">Back to List</a>
</div>
<p>Offers:</p>
<div id="offers" class="row" data-encoded-name="@Model.EncodedName"></div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Book/Edit.js"> </script>
}
